@(title: String)(content: Html)

@activeLink(currentPath:String) = @{
if(request.path.equals(currentPath)) "sidebar-brand"
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/simple-sidebar.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/flot.css")" rel="stylesheet">

    <!-- jQuery -->
    <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

    <!--Jquery Flot min-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js" type="text/javascript"></script>

    <!--Jquery Flot pie min-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js" type="text/javascript"></script>

    <!--Jquery Flot pie min-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js" type="text/javascript"></script>

    <!--Custom javascript-->
    <script src="@routes.Assets.versioned("javascripts/charts.js")"></script>


    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="@activeLink("/domoticRoom/status")">
                   <a href='@controllers.entryPoint.routes.StatusEntryPoint.status()'>Domotic Room Status</a>
                </li>
                <li class="@activeLink("/domoticRoom/analysis")" >
                    <a  href="@controllers.entryPoint.routes.AnalysisEntryPoint.analysis()">Data Analysis</a>
                </li>
		<li class="@activeLink("/domoticRoom/range")">
                    <a href="@controllers.entryPoint.routes.RangeEntryPoint.ranges()">Range List</a>
                </li>
                <li class="@activeLink("/domoticRoom/newrange")">
                    <a href="@controllers.entryPoint.routes.RangeEntryPoint.newRange()">Insert New Range</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @content
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
