.info{
    display: none;
}
.booleanSensorStatusImg {
    max-width:25%;
    max-height:25%;
}
.booleanSensorNameText {
    text-align: center;
}

div img {
    margin:auto;
    display: block;
}

.c3-ygrid-line.temperatureBoundary line {
    stroke: blue;
}

.c3-ygrid-line.humidityBoundary line {
    stroke: orange;
}